// Fonts
$font-sans: "Nunito Sans", system-ui, sans-serif;

// Colors
$color-black: #303030;
$color-muted: #666;
$color-orange: #FF6524;
$color-white: #F9F3EA;
$color-grey: #e5e7eb;

// Spacing
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 4rem;
