@use "@/styles/variables.scss" as var;


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var.$color-orange;
  color: var.$color-white;
}